.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

.logo {
  width: 115px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.filter {
  display: flex;
  margin: 10px;
}

.filter-btn {
  margin: 0 10px;
  cursor: pointer;
}

.resto-container {
  display: flex;
  flex-wrap: wrap;
}

.restro-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.restro-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.restro-dish {
  width: 100%;
  height: 135px;
}

.shimer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimer-card {
  width: 200px;
  height: 400px;
  background-color: rgb(204, 200, 200);
  margin: 20px;
}

.login-btn {
  padding: 0 20px;
  cursor: pointer;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
